body {
    margin-bottom:6rem;
    margin-top:9rem;
}

.myTable {
    /* color:#333 */
}

.myTable .cyberpunk  {
 color:red;
}

td {
    border-color: #ebebeb;
    border-width: 3px;
    border-style: dotted;
    padding: 1rem 2rem;
    /* color:#333; */
}

